extends ../../src/layouts/header
block variables
    - const pageTitle = 'Ошибка 500'
block content
    main.containerChat
        .error
            h1 500
            h2 Мы уже фиксим
            a(href="./index.pug") Назад к чатам
        script(src='../../src/main.js' type='module')
block scripts