extends ../../src/layouts/header
block variables
    - const pageTitle = 'Авторизация'
block content
    main.container
        include ../../src/mixin/formSignin
        +form('Вход', 'Авторизоваться', 'signin', 'Нет аккаунта?', '../pages/registration.pug')
        script(src='../../src/main.js' type='module')
block scripts