extends ../../src/layouts/header

block variables
    - const pageTitle = 'Восстановление пароля'
    -
        const arrayInputProfile = [
            { label: "Старый пароль", value: "pochta@yandex.ru" , name: "oldPassword", type: "password"},
            { label: "Новый пароль", value: "ivanivanov" , name: "newPassword", type: "password"},
            { label: "Повторите новый пароль", value: "Иван" , name: "newPassword2", type: "password"}
        ]
block content
    main.containerChat
        .back
            .arrowBackground
                a(href="./chat.pug")
                    .arrow
        .profile
            .profileCenter
                .avatarPassword
                    img(src="../../src/images/avatar.svg")
                    .editAvatar
                        span Поменять аватар
                .login Иван

                .data
                    include ../mixin/inputProfile
                    each val in arrayInputProfile
                        +inputProfile(val.label, val.value, val.name, val.disabled, val.type)

                button.save Сохранить

        script(src='../../src/main.js' type='module')
block scripts